$aqua: rgb(79, 221, 209);
$aquaOscuro:rgb(17, 105, 101);
$neutro:rgb(255, 255, 255);
$estilos: (
    centro:center,
    letra:"Arial, Helvetica, sans-serif");

.img-nosotros{ 
        
        border-radius: 10px;
        border-color: rgb(3, 74, 95);
        width: (350px);
        height: (350px);
        padding: $padding;
        margin:$margin;
}        
.nos-p{
        font-size: 20px;
        margin:($margin * 5);
        padding:($padding * 6);
        text-align:justify;
        background-color: aquamarine;
}    
.carousel{
    width: 350px;

    .fotos-galery{
        width:100%;
        height: 350px;
        border-radius:20px;
    }
   
    
    }
.form{
    display:grid;
    grid-template-rows: auto;
    grid-area: auto;
    align-content:center;
    list-style-type:none;
    width: ($Whidth * 8);
    height: ($Heigth * 4);
    margin-left:auto;
    padding-top: ($padding * 2)+5px;
    border: $border;
}
.formulario-list{
    list-style-type:none;
}

.imput{
    border-radius: 10px;
    padding:calc($padding/2);
    margin-bottom: 15px;
    font-size: 15px;
}
.border{
    border: calc($border / 2) solid black;
}
#Grids-Galeria-article{
    display: grid;
    align-content: center;
    grid-column:auto;
    justify-content: baseline;
}
