

article{
    background-image: url("https://img.freepik.com/foto-gratis/telon-fondo-textura-aqua_23-2147876085.jpg?size=626&ext=jpg"); 
    background-repeat:repeat;
    background-size: 100%;
    text-align: center;
    margin: auto;
    padding: 25px;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    justify-content: map-get($estilos, centro );
    
    
    .div{
        width: 500px;
        max-width: 100%;
        aspect-ratio: 1;
    }
    
    .iframe {
        display: grid;
        margin-left: auto;
        justify-content: auto;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        grid-row: auto;
       
    }
}